<div class="pb-5 border-b border-gray-200">
  <div class="max-w-7xl mx-auto">
    <%= link_to_parent(@standings, @conn) do %>
      <h1 class="text-2xl font-semibold text-gray-900">
        <%= container_name(@standings) %>
      </h1>
    <%end%>
  </div>
</div>
<div {league_container_classes(@standings)}>
  <%= child_standings(@standings, @conn) %>
</div>
