<h1>Show Team</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @team.name %>
  </li>

  <li>
    <strong>Abbr:</strong>
    <%= @team.abbr %>
  </li>

  <li>
    <strong>Level:</strong>
    <%= @team.level %>
  </li>

  <li>
    <strong>Logo filename:</strong>
    <%= @team.logo_filename %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.team_path(@conn, :edit, @team) %></span> |
<span><%= link "Back", to: Routes.team_path(@conn, :index) %></span>
